.campaign-item {
	margin-bottom: 23px;
	margin-top: 23px;
}

.legend {
	margin-bottom: 30px;
}

.legend .legend-item .circle {
	width: 10px;
	height: 10px;
	border-radius: 10px;
	background-color: rgb(2, 113, 128);
}

.legend .legend-item .circle.axa {
	background-color: #027180;
}

.legend .legend-item .circle.agency {
	background-color: #00ADC6;
}

.hSpace {
	padding-top: 30px;
}

.progressCustom {
	height: 12px;
	width: 300px;

	background: #F5F5F5;
	border-radius: 6px;
}

.progressCustom>.progress-bar {
	border-radius: 6px;

	color: #FFF;
	text-align: right !important;
	font-weight: 600;
	font-size: 10px;

	padding-right: 10px;
	padding-left: 3px;
}

.progressBgAgency>.progress-bar {
	background: #00ADC6;
}

.progressBg>.progress-bar {
	background: #027180;
}

@media (min-width: 576px) {}

@media (min-width: 768px) {
	.progressCustom {
		width: 500px;
	}

	.priority-label {
		display: initial;
	}
}

@media (min-width: 992px) {}

@media (min-width: 1200px) {}