:host {
    --mobility-modal-padding: 1.125rem;
    --mobility-modal-border-radius: 0.625rem;
    --mobility-modal-backdrop-blur: 4px;
    --mobility-modal-backdrop-background: rgba(0,0,0,.6);
    --mobility-modal-shadow: 2px 4px 8px 0px rgba(0, 0, 0, 0.25);
    --mobility-modal-background: #FFF;
    --mobility-modal-max-width: 80vw;
    --mobility-modal-max-height: 80vh;

    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100vw;
    height: 100vh;
    width: 100dvw;
    height: 100dvh;
    top: 0;
    left: 0;
    z-index: 1;
    background: var(--mobility-modal-backdrop-background);
    backdrop-filter: blur(var(--mobility-modal-backdrop-blur));
}

.mobility-modal__card {
    width: auto;
    height: auto;
    border-radius: var(--mobility-modal-border-radius);
    background: var(--mobility-modal-background);
    box-shadow: var(--mobility-modal-shadow);
    overflow: hidden;
    padding: var(--mobility-modal-padding) 0;
}

.mobility-modal__scroller {
    overflow-x: hidden;
    overflow-y: auto;
    max-height: var(--mobility-modal-max-height);
    max-width: var(--mobility-modal-max-width);
    padding: 0 var(--mobility-modal-padding);
    margin-bottom: calc(var(--mobility-modal-padding) * 2);

    scrollbar-color: #00000080 transparent;
    scrollbar-width: thin;
}

.mobility-modal__scroller::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
.mobility-modal__scroller::-webkit-scrollbar-thumb {
    background: #00000080;
    border-radius: 8px;
}
.mobility-modal__scroller::-webkit-scrollbar-track {
    background: transparent;
}