.THIS .arrow-right {
    display: flex;
    position: absolute;
    right: 15px;
    height: 100%;
    align-items: center;    
    cursor:pointer;
}
.THIS .p-relative{
    position:relative;
}
.THIS .icon-blue-axa svg{
    fill:#00008f;
}
.THIS .link{
    cursor:pointer;
    color:rgb(27, 82, 151);
}
.THIS .no-result {
    color: #246fbb;
    font-weight: bold;
}
.THIS .slds-card{
    height:100%;
    display:flex;
    flex-direction: column;
}
.THIS .slds-card__footer{
    margin-top: auto !important;
    margin: inherit;
}
.THIS .not-active {
    pointer-events: none;
    cursor: default;
    text-decoration: none;
}