.new {
    background: #FAFAFA;
    width: 98.3%;
}

.new .new-header {
    background: #FAFAFA;
    margin-bottom: 35px;
}

.new .new-top {
    border-top: 1px solid #E5E5E5;
}

.new .new-row {
    margin: 0 15px !important;
}

.new .btn-new {
    text-align: left;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    white-space: nowrap;
}

.new .btn-new.btn-border {
    border: 0;
}

.new-menu-bottom {
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
}