.queue-manage { 
  float: right;
  z-index: 2;
  margin-top: -39px;
  background: transparent;
}

.col-4  {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.col-5{
  width: 100%;
}

  

a .new-icon {
  padding-left: 10px;
  vertical-align: baseline;
}

.page-border {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 22px;
}