html, body { width: 100%; height: 100%; padding: 0; margin: 0 }
body, td, th { font-family: arial, sans-serif; font-size: 11pt; color: rgb(77, 77, 77); line-height: 1.7em }
#container { margin: 0 auto; padding-bottom: 50px; width: 900px }
h1 { font-size: 180%; font-weight: bold; padding: 0; margin: 1em 0 1em 0 }
h2 { padding-top: 20px; padding-bottom: 10px; border-bottom: 1px solid rgb(160, 192, 240); color: rgb(43, 124, 233) }
h3 { font-size: 140% }
a { color: rgb(43, 124, 233); text-decoration: none }
a:visited { color: rgb(46, 96, 164) }
a:hover { color: red; text-decoration: underline }
hr { border: none 0; border-top: 1px solid rgb(170, 187, 204); height: 1px }
pre { display: block; font-size: 10pt; line-height: 1.5em; font-family: monospace }
pre, code { background-color: rgb(245, 245, 245) }
table { border-collapse: collapse }
th { font-weight: bold; border: 1px solid lightgray; background-color: rgb(229, 229, 229); text-align: left; vertical-align: top; padding: 5px }
td { border: 1px solid lightgray; padding: 5px; vertical-align: top }
