.THIS {
}
.THIS .link{
    cursor:pointer;
    color:rgb(27, 82, 151);
}
.THIS .no-result {
    color: #246fbb;
    font-weight: bold;
}
.THIS .not-active {
    pointer-events: none;
    cursor: default;
    text-decoration: none;
}
.THIS .wrapped-header-datatable .slds-table .slds-th__action .slds-truncate{
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: initial;
    height: inherit;
    font-size: x-small;
    /* word-wrap: break-word; */
}