.THIS .small-picklist {
    width: 55px;
}

.THIS .slds-checkbox_faux:before {
    background: none;
}

.THIS .slds-checkbox_faux:after {
    background: none;
}

.THIS .slds-checkbox_faux {
    width: 1.5rem;
    height: 1.5rem;
}


.THIS .uiInputCheckbox {
	
    background: transparent;
    height: 17px;
    width: 17px;
}




.THIS .inputStyle {
      
       opacity:1;
}

.THIS .right {
     padding-right: 0;
     padding-left: .35rem;
     }



.THIS .SelectStyle {

    width: 15%;
    padding-right: 0;
    padding-right: 0;
    max-height: 20px;
    min-width: 35px;

}

.THIS .slds-text-heading--small{

        font-size: .75rem;
}

/*.THIS .slds-button--neutral{

    padding-right: 8px;
    padding-left: 8px;
    margin-left: 0px;
}*/


/*.THIS .slds-card__footer{

    padding-left: 0px;
    padding-right: 0px;
}*/

@media (min-width: 768px) and (max-width: 1000px) {
    .THIS .custom_container_filtri{
        padding-right: 190px !important;
           
    }       
}
.THIS .displayFlex
{
    display: flex;
}