a.download-link {
    display: inline-flex;
    width: max-content;
    justify-content: center;
    align-items: center;
    gap: 8px;
    color: #000;
    font-size: 16px;
    line-height: 25px;
    align-self: center;
}

a.download-link c-mobility-icon {
    filter: saturate(0);
}

a.download-link:hover {
    text-decoration-line: underline;
    color: var(--uiaxa-blue, var(--primary, #00008F));
}

a.download-link:hover c-mobility-icon {
    filter: none;
}

.actions {
    --font-family: Helvetica;
    font-family: var(--font-family);
    font-size: 1rem;
    display: flex;
    justify-content: center;
    gap: 24px;
}